apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mate-ingress
  namespace: {{ .Values.common.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - pathType: ImplementationSpecific
            path: /(|$)(.*)
            backend:
              service:
                name: {{ .Chart.Name }}-service
                port:
                  number: 80

